{% extends 'blog/after_login_navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{%block content%}
<div class="container">
    {% if user.is_authenticated %}
       <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
       <a href="{% url 'blog_add' %}" class="btn btn-info"><span class="icofont-plus"></span>Add</a>
        {% for blog in blogs %}
        <div class="row">
            <div class="col col-12">
               <div class="card">
                    <div class="card-title">{{blog.title}}</div>
                    <div class="card-body">{{blog.desc}}
                        <br><br>
                         <div class="display-inline">
                           <a href="{% url 'edit_blog' blog.id%}" class="btn btn-info">Edit</a>
                           {%if perms.blog.blog_delete%}
                            <a href="{% url 'delete_blog' blog.id%}" class="btn btn-danger">Delete</a>
                           {%endif%}
                         </div>
                    </div>
                </div>
           </div>
        </div>
        {% endfor%}
     {%endif%}
</div>
{% endblock %}
</body>
</html>